<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.stu.pms.common.domain.mapper.TaskMapper">

    <resultMap id="TaskResultMap" type="per.stu.pms.common.domain.dos.TaskDO">
        <id property="taskId" column="task_id"/>
        <result property="taskName" column="task_name"/>
        <result property="projectId" column="project_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="priority" column="priority"/>
        <result property="tagIds" column="tag_ids"/>
        <result property="preTaskId" column="pre_task_id"/>
        <result property="estimateHours" column="estimate_hours"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="completionTime" column="completion_time"/>
        <result property="version" column="version"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 定义 TaskVO 的 resultMap -->
    <resultMap id="TaskDTOResultMap" type="per.stu.pms.common.domain.dtos.task.TaskDTO">
        <id property="taskId" column="task_id"/>
        <result property="taskName" column="task_name"/>
        <result property="projectId" column="project_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="priority" column="priority"/>
        <result property="tagIds" column="tag_ids"/>
        <result property="preTaskId" column="pre_task_id"/>
        <result property="estimateHours" column="estimate_hours"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="completionTime" column="completion_time"/>
        <result property="version" column="version"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="projectName" column="project_name"/>
        <result property="allTaskCount" column="alltaskcount"/>
        <result property="completedTaskCount" column="completedtaskcount"/>

        <!-- 新增标签集合映射 -->
        <collection property="tags" ofType="per.stu.pms.common.domain.dos.TagDO">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
            <result property="createTime" column="tag_create_time"/>
            <result property="updateTime" column="tag_update_time"/>
            <result property="isDeleted" column="tag_is_deleted"/>
        </collection>
    </resultMap>


    <select id="findTaskList" resultMap="TaskDTOResultMap">
        SELECT
        t.*,
        IFNULL(p.project_name, '无') AS project_name,
        tt.id AS tag_id,
        tt.name AS tag_name
        FROM ${@per.stu.pms.common.constants.TableConstants@TABLE_TASK} t
        LEFT JOIN ${@per.stu.pms.common.constants.TableConstants@TABLE_PROJECT} p
        ON t.project_id = p.project_id
        LEFT JOIN ${@per.stu.pms.common.constants.TableConstants@TABLE_TASK_TAG} ttag
        ON t.task_id = ttag.task_id AND ttag.is_deleted = FALSE
        LEFT JOIN ${@per.stu.pms.common.constants.TableConstants@TABLE_TAG} tt
        ON ttag.tag_id = tt.id AND tt.is_deleted = FALSE
        WHERE t.is_deleted = FALSE
        <if test="query != null">

            <if test="query.status != null and query.status.trim() != ''">
                AND t.status IN
                <foreach collection="query.status.split(',')" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>

            <if test="query.taskName != null and query.taskName.trim() != ''">
                AND t.task_name  LIKE CONCAT('%', #{query.taskName}, '%')
            </if>
            <if test="query.projectId != null and query.projectId != ''">
                <!-- 查询未绑定项目的任务 -->
                <if test="query.projectId == '-1'">
                    AND t.project_id IS NULL
                </if>
                <!-- 查询绑定项目的任务 -->
                <if test="query.projectId != '-1'">
                AND t.project_id = #{query.projectId}
                </if>
            </if>
            <if test="query.startDate != null and query.startDate != '' and query.endDate != null and query.endDate != ''">
                AND (
                -- 任务开始时间在查询范围内
                (t.start_time &gt;= #{query.startDate} AND t.start_time &lt;= #{query.endDate})
                OR
                -- 任务截止时间在查询范围内
                (t.end_time &gt;= #{query.startDate} AND t.end_time &lt;= #{query.endDate})
                OR
                -- 任务时间范围跨越查询范围
                (t.start_time &lt; #{query.startDate} AND t.end_time &gt; #{query.endDate})
                OR
                -- 任务完成时间在查询范围内
                (t.completion_time &gt;= #{query.startDate} AND t.completion_time &lt;= #{query.endDate})
                )
            </if>
        </if>
        ORDER BY
        CASE
        WHEN t.status = 'in_progress' THEN 1
        WHEN t.status = 'wait' THEN 2
        WHEN t.status = 'todo' THEN 3
        WHEN t.status = 'completed' THEN 4
        WHEN t.status = 'deprecated' THEN 5
        ELSE 6
        END,
        t.priority, t.completion_time DESC, t.start_time DESC
    </select>

    <select id="selectTaskStatistics" resultType="per.stu.pms.common.domain.dtos.task.StaticTaskDTO">
        SELECT COUNT(*)                                                                   AS total,
               SUM(CASE WHEN status IN ('wait', 'todo', 'in_progress') THEN 1 ELSE 0 END) AS unfinished,
               SUM(CASE WHEN status = 'completed' THEN 1 ELSE 0 END)                      AS finished,
               (SELECT GROUP_CONCAT(day_count ORDER BY date ASC SEPARATOR ',')
                FROM (SELECT DATE (create_time) AS date, COUNT(*) AS day_count
        FROM tasks
        WHERE create_time >= DATE_SUB(CURDATE()
            , INTERVAL 7 DAY)
          AND is_deleted = 0
        GROUP BY DATE (create_time)
        ORDER BY date
            ) AS trend_data
            ) AS trendData
        FROM tasks
        WHERE is_deleted = 0
    </select>

</mapper>